# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://rtaoljxcdrdhabbrgyws.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0YW9sanhjZHJkaGFiYnJneXdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNzY2NzUsImV4cCI6MjA5Mzc1MjY3NX0.E2jCdx2pe_lUL8E7qyxkQxmavnAS4C2R4OYQexF_ZFU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0YW9sanhjZHJkaGFiYnJneXdzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE3NjY3NSwiZXhwIjoyMDkzNzUyNjc1fQ.90UGI_qmCSjl-n98WbH02z2a1dUMCVUGw2EX9XZA3jo

# JWT
JWT_SECRET=f945424e0f023928fd08246d96c7f43dc8d2dbbf71fb73ede98aa1b59711190fe9c7ed33059ceaedc8939e9fa711346c4f69b63c8a3da5293997da00be74d581
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# CORS
ALLOWED_ORIGINS=http://localhost:4200,https://soms-app.vercel.app

# Storage
SUPABASE_BUCKET=soms-documents
